<img class="center" style="height: 40%; width: 40%; text-align: center;" src="https://i.ibb.co/0jSmXgb/Whats-App-Image-2021-01-24-at-22-05-56.jpg" >

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="height: 80%; width: 80%;">
  
 
  <div class="group">
    <input type="email" class="form-control" formControlName="email"><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>

  <div class="group">
    <input type="password" class="form-control" formControlName="pass"><span class="highlight"></span><span class="bar"></span>
    <label>{{'PASS' | translate}}</label>
  </div>

  <button type="submit" class="button buttonBlue">{{'REGISTER' | translate}}
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  <!-- <p>Si ya dispone de cuenta pulse <a [RouterLink]="/iniciosesion">aquí</a></p>
 -->
  <hr style="color: #0056b2;" />

</form>
<footer>
  <p>{{'DISFRUTE' | translate}}
</footer>


