<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>
      Comentarios
    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab (click)="this.createComentario(this.lugar)" vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button color="success">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="this.cargaDatos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list color="primary">
    <ion-item-sliding *ngFor="let comentario of this.listaComentarios;let i=index">

      <ion-item>
        <ion-label>
          <!-- <h1>{{cuenta.name}} </h1> -->
          <br>
          <h2>{{lugar.comentarios}}</h2>
          <!-- <h2>{{comentarios.name}}</h2> -->
          <br>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>