<ion-header #header color="success">
  <!-- <ion-header > -->
  <img style="width:100%;" color="success"
    src="https://images.squarespace-cdn.com/content/v1/5b9f82100dbda34bc2fec248/1570793190637-DZK50NA20IKTMO4IXBOP/ke17ZwdGBToddI8pDm48kBptuolal6v5krBTwQ-KJ3N7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UXbN_ZGmfhkjUJxIGosiCwve6r9EmcEECNAEfbesZJpGtBAtIl5JeUEAOGsqyGfdPg/Foto+alargada+para+Imalion1450.jpg">

</ion-header>


<ion-content fullscreen="true" color="success" scrollEvents="true" appHideHeader [header]="header" color="tertiary">

  <ion-searchbar color="success" style="margin-top: 10px;" [animated]="true" debounce="500"
    placeholder="{{'SEARCHPLACE' | translate}}"  (ionInput)="getLugarSearchBar($event)"
  ></ion-searchbar>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>





  <ion-refresher slot="fixed" (ionRefresh)="this.cargaDatos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>




  <ion-list color="primary">

    <ion-item-sliding *ngFor="let lugar of this.listaLugaresBuscar;let i=index">

      <ion-item (click)="this.inspectPlace(lugar)" color="tertiary">

        <ion-label>
          <h1><b>{{lugar.name}}</b> </h1>
          <br>
          <h2 style="font-family: 'asap';"><b>{{'ADRESS' | translate}}:</b> {{lugar.adress}}</h2>
          <br>
          <h2 style="font-family: 'asap';"><b>{{'PHONE' | translate}}:</b> {{lugar.n_phone}}</h2>
        </ion-label>

      </ion-item>

    </ion-item-sliding>
  </ion-list>



</ion-content>