<ion-content color="success">
  <img src="https://i.ibb.co/YZxbD3b/Admin.png">
 
  <h1 style="text-align: center;margin-top: 50%;">{{'ADMINS' | translate}}</h1>
  <img src="https://i.ibb.co/YZxbD3b/Admin.png">
</ion-content>
<ion-tabs  color="medium" contentId="tabs">
  
  <ion-tab-bar  color="tertiary">
  <ion-tab-button tab="tabadmin1">
    <ion-icon name="list"></ion-icon>
    <ion-label>{{'ADD' | translate}} </ion-label>
  </ion-tab-button>

  <ion-tab-button tab="tabadmin2" style="float: right;">
    <ion-icon name="add-circle"></ion-icon>
    <ion-label>{{'LIST' | translate}}</ion-label>
  </ion-tab-button>
  </ion-tab-bar>


 
  <!-- <ion-router-outlet id="tabs"></ion-router-outlet>  -->

</ion-tabs>
