<ion-content color="success">
  <div id="container">
    <h1>&bull; Comentario &bull;</h1>
    <div class="underline">
    </div>
    <div class="icon_wrapper">

    </div>
    <form [formGroup]="comentarios" (ngSubmit)="this.sendForm()" action="#" method="post" id="contact_form">
      
      <!-- <div class="name">
        <label for="name"></label>
        <input type="text" placeholder="Nombre" formControlName="name" name="name" id="name_input" required>
      </div> -->

      <div class="email">
        <label for="email"></label>
        <input type="email" placeholder="Comentario" formControlName="description" name="n_telefono" id="email_input"
          required>
      </div>

      <div class="submit">
        <input type="submit" value="Agregar" id="form_button" />
      </div>
    </form><!-- // End form -->
  </div><!-- // End #container -->
</ion-content>